Teoria Python/
__pycache__/
*.pyc
*.pyo
*.pyclass

# KEYS
*.pem
*.key
*.env

# LOGS
*.log

# JSON
*.json

# CSV
*.csv

# TXT
*.txt

# IMAGES
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.ico
*.tiff
*.webp
*.psd

# AUDIO
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.wma

# VIDEO
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.mpg
*.mpeg

# DOCUMENTS
*.ai
*.eps
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.rtf
*.tex
*.md

# XML
*.xml
*.yml
*.yaml

# ARCHIVES
*.zip
*.tar
*.gz
*.7z
*.rar